# Python environment variables
.env

# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Jupyter temporary files
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# React / Node
front/node_modules/
front/dist/
front/.vite/